.section-3 {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 228, 196, 0);
    position: relative;
    box-shadow: 3px 3px 50px black;
    align-items: center;
    text-align: center;
    color: azure;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.img3 {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../assets/mimi.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    filter: brightness(20%);
    z-index: -100;
}

.container-skills {
    background-color: rgba(215, 218, 221, 0.118);
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    position: relative;
    padding: 20px;
}

#skill {
    background-color: rgba(233, 233, 233, 0);
}

.css {
    background-image: url("../../assets/css.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.html {
    background-image: url("../../assets/htmls.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.js {
    background-image: url("../../assets/js.png");
    background-size: cover;
    height: 100px;
    width: 160px;
}

.react {
    background-image: url("../../assets/react.png");
    background-size: cover;
    height: 100px;
    width: 115px;
}

.redux {
    background-image: url("../../assets/reedux.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}



.ex {
    background-image: url("../../assets/expres.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.pgadmin {
    background-image: url("../../assets/pgadmin.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.seq {
    background-image: url("../../assets/seq.png");
    background-size: cover;
    height: 120px;
    width: 110px;
}

@media ( width <= 600px){
    .container-skills {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 5px;
        position: relative;
        padding: 20px;
    }
    #skill {
        background-color: rgba(233, 233, 233, 0);
        scale: 0.5;
    }
    
}

@media ( width <= 280px){
    .container-skills {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-gap: 5px;
        position: relative;
        padding: 20px;
    }
    #skill {
        background-color: rgba(233, 233, 233, 0);
        scale: 0.3;
    }
}

