.section-1 {
    background-color: rgba(255, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.name {
    margin-left: 14vw;
    font-size: 4rem;
    color: azure;
    margin-top: 50px;
}

.name-text {
    font-size: 1.8rem;
    width: 60vw;
    margin-left: 14vw;
    color: azure;
}

.img1 {
    margin: 0;
    height: 125vh;
    margin-top: -25vw;
    width: 100vw;
    background-image: url("../../assets/mimi.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    filter: brightness(20%);
    z-index: -100;
}

.logo {
    scale: 0.5;
    background-color: rgba(250, 235, 215, 0);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    gap: 4rem;
    right: auto;
    justify-content: center ;
    position: absolute;
    bottom: 10vh;
}

.git {
    background-image: url("../../assets/git.png");
    background-size: cover;
    height: 100px;
    width: 100px;
}

.link {
    background-image: url("../../assets/linkedin.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 150px;

}

.gmail {
    background-image: url("../../assets/gmail.png");
    background-size: cover;
    height: 100px;
    width: 100px;

}

@media (height <= 700px) {
    .name {
        scale: 0.7;
        margin-top: 20px;
        margin-left: 0;
    }
    .name-text {
        width: 90vw;
        font-size: 1rem;
        margin-left: 0px;
        margin-left: 10px;
    }
}

@media (width <= 650px) {
    .logo {
       scale: 0.5;
       gap: 0;
    }
    .name {
        scale: 0.7;
        margin-top: 0;
        margin-left: 0;
    }
    .name-text {
        width: 90vw;
        font-size: 1rem;
        margin-left: 0px;
        margin-left: 10px;
    }
    .git {
        height: 70px;
        width: 70px;
    }
    
    .link {
        height: 70px;
        width: 110px;
    }
    
    .gmail {
        height: 70px;
        width: 70px;
    }
}

@media (width >= 1900px) {
    .name {
        /* scale: 1.2; */
        font-size: 6rem;
        margin-top: 5rem;
        margin-left: 5vw;
    }
    .name-text {
        font-size: 2.5rem;
        margin-top: 9vh;
        width: 50vw;
        margin-left: 5vw;
    }
}


